<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Quakitivity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <Quakitivity.Properties.Settings>
            <setting name="RefreshPeriod" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="SummaryURL" serializeAs="String">
                <value>http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson</value>
            </setting>
        </Quakitivity.Properties.Settings>
    </applicationSettings>
</configuration>